{% extends 'blog/base.html' %} {% block text %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Tours</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/fontawesome.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto"
      rel="stylesheet"
    />
  </head>
  <body>
    {% for x in var_1 %} {{ x.summary }} {% endfor %}

    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Well Come To My Site</h1>
          <p class="lead text-muted">
            “That which does not kill us, makes us stronger.”Friedrich
            Nietzsche.
          </p>
          <p>
            <a href="{% url 'contacts' %}" class="btn btn-primary my-2"
              >Contact me</a
            >
          </p>
        </div>
      </section>
    </main>

    <!-- Here start My Introduction -->

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Sara Srivastava</h1>
        <p class="lead">
          Sara Srivastava is PhD Student in Aerospace Engineering. He has been
          using Python and Matlab for scientific computing. Mr.Sara Srivastava
          have Bachelor Degree in Aerospace Engineering and Master degree in
          Industrial engineering with distinction. Mr. Mohsin Khalil have worked
          for some of the top industries including defense and higher education.
          Mr.Mohsin have won numerous awards, including ,Erasmas Mundas Scholar,
          Marie Curie Fellow, Italian National Research Award and counting. Rest
          assured that you are being taught by the best of the best. .
        </p>
      </div>
    </div>

    <!-- Here start My Portfolio Pojects -->
    <div id="home">
      <div class="overlay">
        <div class="container">
          <div>
            <h1><span>Amazing</span><br />Santorini 10 Days Tour</h1>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-less normal
              distribution of letters, as
            </p>
            <button>
              <a href="{% url 'blogs' %}" class="text-uppercase">My Blog</a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="{% url 'home' %}">Back to top</a>
        </p>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>'
        );
    </script>
    <script
      src="/docs/4.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

{% endblock text %}
